@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto|Material+Icons');

.grommet {
  font-family: 'Roboto', sans-serif;
}

.grommetux-heading, .grommetux-title {
  font-family: 'Roboto Condensed', sans-serif;
}

.material-icons {
  // vertical-align: text-bottom;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.types-icon {
  margin-left: 10px;
  padding-top: 10px;
}
